doctype html
head
 title Prototipo
 link(rel="stylesheet", href="../styles/index.css")
 meta(charset="utf-8")
body
 header
  .cabecera
    .menu
      ul#menu
        li 
          a.enlaceboton(href="../primernivel/primernivel.html") Catalogo
        li 
          a.enlaceboton Seleccion de tempotada
        li 
          a.enlaceboton Promociones
        li 
          a.enlaceboton Conocenos
        li 
          a.enlaceboton Contacto
        li 
          a.enlaceboton Identificate
        li
          input(
            type='text'
            name='buscador'
          )
        li 
          select#idioma
            option(value="Espa침ol") Es 
            option(value="Ingles") En

      img#banner(src='../img/banner.png')
 .content 
   #anuncios
    p#texto SITIO PARA ANUNCIOS
   #productospopulares 
    p#popularestitulo PRODUCTOS POPULARES
    ul#populares
      li 
        .imagenesproductos
          img.productos(src='../img/pepino.jpeg')
          p.descripciones Pepino pepinorro de pepinolandia con sabor a pepino
      li 
        .imagenesproductos
          img.productos(src='../img/pepino.jpeg')
          p.descripciones Pepino pepinorro de pepinolandia con sabor a pepino
      li 
        .imagenesproductos
          img.productos(src='../img/pepino.jpeg')
          p.descripciones Pepino pepinorro de pepinolandia con sabor a pepino
      li 
      .imagenesproductos
          img.productos(src='../img/pepino.jpeg')
          p.descripciones Pepino pepinorro de pepinolandia con sabor a pepino
    #comocomprar
      p#titulocomprar TU COMPRA PASO A PASO
      ul#instruccionescompra
        li 
          img.instrucciones(src='../img/escoger.png')
        li 
          img.instrucciones(src='../img/a침adir.png')
        li 
          img.instrucciones(src='../img/puerta.png')
    #informaciongeneral
      #cookies
        p#titulocookies Cookies 
        p#contenidoCookies Este sitio emplea cookies propias y de terceros para prestar sus servicios y para analizar el tr치fico. Agroboca recibe informaci칩n sobre tu uso de este sitio web. Si utilizas este sitio web, se sobreentiende que aceptas el uso de cookies.
        a#aceptar(href="") Aceptar 
        a#MasInformacion(href="") Mas informacion
      #pie
       ul#principal
         li.titulosinformacion Informacoin general
           ul.informaciones
             li Preguntas frecuentes
             li Entregas y horarios
             li Cookies
             li Politica de privacidad
         li.titulosinformacion Sobre nosotros
           ul.informaciones
             li Quienes somos
             li Donde encontrarnos
             li Agricultura sostenible
             li Nuestros campos
         li.titulosinformacion Contacto
           ul.informaciones
             li Telefono
             li Email
             li Whatsapp
         li.titulosinformacion Legal
           ul.informaciones
             li Aviso legal
             li Denuncias o infracciones
             li Servicios
             li Condiciones generales de uso