#pista{
    position: absolute;
}
#verde{
    position: absolute;
    width: 15px;
    top: 4.5%;
    left: 8.5%;
    offset-path: path("M145 314H52C35.8333 311.167 3.50002 296.5 3.50002 260.5C3.50002 224.5 1.50002 95.1667 0.500015 35C0.5 -6 63 -15 71.5 35V209C78.1667 229 102.2 269.3 145 270.5C187.8 271.7 218.5 268.333 228.5 266.5C276.5 255 319 153.9 211 123.5L173 119C156 108.833 132.2 81.8 173 55H280C292.833 55.5 317.5 66 313.5 104V270.5C313.167 281.667 304.1 305 270.5 309L159.5 314");
    animation: verde linear 7s 3; 
    transform: rotate(90deg);
}
@keyframes verde {
    0%{
        offset-distance: 0;
    }
    100%{
        offset-distance: 100%;
    }
}
#morado{
    position: absolute;
    width: 15px;
    top: 2%;
    left: 3.1%;
    offset-path: path("M246.5 361.5H147.5C127.667 358.167 87.2 343.6 84 312C80.8 280.4 59.6667 276.167 49.5 278C36.3333 275.167 8.9 259.5 4.5 219.5C0.0999968 179.5 0.33333 145.833 0.999997 134C2.16666 116.833 10.9 82.2 36.5 81C62.1 79.8 74.8333 61.5 78 52.5C67.5 10 175 -37.9 201 52.5L204 229C204.167 244 215.6 273.4 260 271H318.5C351.5 271 387.5 198 321 178.5L280.5 170C233 170 192.9 87.3 280.5 56.5H381C404.833 56.8333 450.1 70.8 440.5 124V296.5C441.5 314.333 431 352.3 381 361.5H260");
    animation: morado linear 9s 3;
    transform: rotate(90deg);
}

@keyframes morado {
    0%{
        offset-distance: 0;
    }
    100%{
        offset-distance: 100%;
    }
}