.cubo, .cubo .cara {
    width: 200px;
    height: 200px;
}

.cubo .cara {
    position: absolute;
}

.cubo {
    margin: 100px auto;
}

#superior {
    background-image: url(../img/1.png);
    background-size: cover;
}

#frente {
    background-image: url(../img/2.png);
    background-size: cover;
}

#atras {
    background-image: url(../img/3.png);
    background-size: cover;
}

#derecha {
    background-image: url(../img/4.png);
    background-size: cover;
}

#izquierda {
    background-image: url(../img/5.png);
    background-size: cover;
}

#inferior {
    background-image: url(../img/6.png);
    background-size: cover;
}

.cubo {
    transform-style: preserve-3d;
}

.cubo {
    transform-style: preserve-3d;
    transform: perspective(700px) rotateX(-30deg) rotateY(-30deg);
}

.cubo .cara#derecha {
    transform: rotateY(90deg);
}

.cubo .cara#derecha {
    transform: rotateY(90deg) translateZ(100px);
}

.cubo .cara#superior {
    background-color: orange;
    transform: rotateX(90deg) translateZ(100px);
}

.cubo .cara#frente {
    background-color: red;
    transform: translateZ(100px);
}

.cubo .cara#atras {
    background-color: green;
    transform: translateZ(-100px);
}

.cubo .cara#derecha {
    background-color: blue;
    transform: rotateY(90deg) translateZ(100px);
}

.cubo .cara#izquierda {
    background-color: yellow;
    transform: rotateY(-90deg) translateZ(100px);
}

.cubo .cara#inferior {
    background-color: fuchsia;
    transform: rotateX(-90deg) translateZ(100px);
}


.cubo {
    animation: rotate 2s linear forwards;

}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    10% {
        transform: rotateX(0deg) rotateY(360deg);
        
    }

    20% {
        transform: rotateX(270deg) rotateY(0deg);
    }

    40% {
        transform: rotateX(0deg) rotateY(90deg);
    }

    50% {
        transform: rotateX(-180deg) rotateY(90deg);
    }

    81.8% {
        transform: rotateX(-180deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateY(90deg);
        
    }
}