* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-bottom: 15px;
    margin-right: 0%;
    float: left;
    margin-left: 6%;
    margin-top: 16px;
}

#hamburguesa {
    display: none;
}

#buscador {
    margin-right: 1%;
    text-align: -webkit-right;
    float: right;
}


#menu li {
    margin-right: 15px;
}

#menuLogo {
    margin-right: 1%;
    float: left;
    width: 18%;
}

.enlaceboton {
    font-family: verdana, arial, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    padding: 10px;
    background-color: #ffffcc;
    color: #666666;
    text-decoration: none;
}
header{
    background-color: #bad63b;
}

#logo {
    height: 36px;
}

#menuTotal {
    background: #bad63b;
}

.noMostrar {
    display: none;
}

#banner:hover {
    cursor: pointer;
}

.content img:hover {
    cursor: pointer;
}

.content img {
    width: 300px;
    height: 168px;
}

.enlaceboton:link, .enlaceboton:visited {
    font-family: verdana, arial, sans-serif;
    font-weight: bold;
    padding: 10px;
    background-color: #11B400;
    color: white;
    text-decoration: none;
    font-size: 18pt;
    margin-right: 8px;
}

.enlaceboton:hover {
    background: #CACC0E;
}

#banner {
    width: 100%;
    height: 180px;
}

#anuncios {
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 30pt;
    color: white;
    background-image: url("../img/aununcio.png");
}

#productos {
    text-align: center;
    margin: 31px;
    margin-top: 31px;
    margin-top: 0;
    padding-top: 20px;
    font-size: 40px;
    font-family: verdana, arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    border-bottom: solid #11B400;
}

.populares {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.descripciones {
    width: 300px;
    padding-top: 15px;
}

.populares li {
    border-bottom: 1px solid #11B400;
}

#Catalogo {
    background-color: #f2f9b6;
    padding: 10px 0;
}

#principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 40px;
    background-color: #CACC0E;
}

#informaciongeneral {
    border-top: black 5px solid;
    ;
}

.informaciones li {
    padding: 5px;
}

.titulosinformacion {
    margin-bottom: 5px;
}

.imagenesproductos {
    padding: 15px;
}

#menuHamburguesa {
    display: none;
    opacity: 0;
}

@media(min-width:950px) {
    .enlaceboton:link, .enlaceboton:visited {
        font-size: 1.2vw;
    }
}

@media (max-width:950px) {
    #hamburguesa {
        display: block;
        float: left;
        color: green;
        font-size: 35px;
    }

    #menuHamburguesa {
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: 1s;
        display: flex;
        flex-direction: column;
    }

    .flexsearch--input {
        font-size: 2vw;
    }

    #menuHamburguesa.mostrarMenu {
        height: 297px;
        visibility: inherit;
        opacity: 1;
        transition: 1s;

    }

    #menu {
        display: none;
    }

    #menuTotal {
        height: 40px;
    }
}

@media (max-width:360px) {
    .content {
        margin-left: 7px;
        margin-right: 7px;
    }

    #populares {
        flex-direction: column;
    }

    #instruccionescompra {
        flex-direction: column;
    }

    #banner {
        height: 70px;
    }

    #anuncios {
        width: 100%;
        height: 75px;
        text-align: center;
        font-size: 30pt;
        color: white;
        background-image: url(../img/aununcio.png);
        background-size: cover;
    }

    #titulocomprar {
        font-size: 37px;
    }

    #principal ul {
        list-style-type: none;
    }

    .flexsearch--input {
        font-size: 3vw;
        height: 26px;
        width: 135px;
    }
}

.flexsearch--wrapper {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
}

.flexsearch--form {
    overflow: hidden;
    position: relative;
}

.flexsearch--input-wrapper {
    padding: 0 66px 0 0;
    overflow: hidden;
}

.flexsearch--input {
    width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/

.flexsearch {
    padding: 0 25px 0 200px;
}

.flexsearch--input {
    box-sizing: content-box;
    border-color: #11B400;
    border-style: solid;
    border-width: 5px;
    color: black;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1vw;
    -webkit-appearance: none;
}

.flexsearch--submit {
    position: absolute;
    right: 0;
    top: -3px;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    margin-right: 8px;
    background: transparent;
    color: #888;
    font-family: verdana, arial, sans-serif;
    font-size: 40px;
    line-height: 60px;
}

.flexsearch--input:focus {
    outline: none;
    border-color: #CACC0E;
}

.flexsearch--input:focus.flexsearch--submit {
    color: #333;
}

.flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #888;
}

input:-moz-placeholder {
    color: #888
}