doctype html
head
 title Prototipo
 link(rel="stylesheet", href="styles/contacto.css")
 link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
 meta(charset="utf-8")
body
 header
  .cabecera
    .menu
      ul#menu
        li 
          a.enlaceboton(href="primernivel/primernivel.html") Catalogo
        li 
          a.enlaceboton Seleccion de tempotada
        li 
          a.enlaceboton Promociones
        li 
          a.enlaceboton Conocenos
        li 
          a.enlaceboton Contacto
        li 
          a.enlaceboton Identificate
        li
          input(
            type='text'
            name='buscador'
          )
        li 
          select#idioma
            option(value="Español") Es 
            option(value="Ingles") En

      img#banner(src='img/banner.png')
  .content
    form
     p.titulo Nombre
       input(type="text" placeholder="pepe")
     p.titulo Motivo
       select
         option(value="ProblemaCompra") Problema con la compra
         option(value="ProblemaVenta") Problema con la venta
     p.titulo Email
       input(type="text" placeholder="pepe@gmail.com")
     p.titulo Telefono
       input(type="tel" placeholder="648267834")
     p.titulo Pais
       select
         option(value="Es") España
         option(value="En") Inglaterra 
     p.titulo Mensaje
       textarea(cols="30", rows="10") 
footer 
  #informaciongeneral
     ul#principal
       li.titulosinformacion Informacion general
         ul.informaciones
           li Preguntas frecuentes
           li Entregas y horarios
           li Cookies
           li Politica de privacidad
       li.titulosinformacion Sobre nosotros
         ul.informaciones
           li Quienes somos
           li Donde encontrarnos
           li Agricultura sostenible
           li Nuestros campos
       li.titulosinformacion Contacto
         ul.informaciones
           li Telefono
           li Email
           li Whatsapp
       li.titulosinformacion Legal
         ul.informaciones
           li Aviso legal
           li Denuncias o infracciones
           li Servicios
           li Condiciones generales de uso